**Bases de python para SAA/MIA**

In [17]:
import pandas as pd
import numpy as np
ciudades = pd.Series(["Valencia", "Barcelona", "Berlin", "Andorra", "Madrid"])

numeros = pd.Series([4,5,6,7,8,9])
numeros.index = ["Matemáticas", "Lengua", "Física", "Química", "Dibujo", "Filosofia"]
print(numeros)

Matemáticas    4
Lengua         5
Física         6
Química        7
Dibujo         8
Filosofia      9
dtype: int64

In [22]:
import pandas as pd

datos = {'Nombre': ['Pedro', 'Juan', 'Jose'],
         'Edad': [37, 23, 43],
         'Ocupación' : ['Jardinero', 'Mecánico', 'Policia']}
df = pd.DataFrame(datos)
print(df)

print("Dimensiones:", df.shape)
print("Columnas:", df.columns)

  Nombre  Edad  Ocupación
0  Pedro    37  Jardinero
1   Juan    23   Mecánico
2   Jose    43    Policia
Dimensiones: (3, 3)
Columnas: Index(['Nombre', 'Edad', 'Ocupación'], dtype='object')

In [ ]:
datos = {'Nombre': ['Pedro', 'Juan', 'Jose', 'Mariano'],
         'Edad': [37, 23, 43, 56],
         'Ocupación' : ['Jardinero', 'Mecánico', 'Policia', 'Profesor']}
df = pd.DataFrame(datos)
df.to_csv('dataFrameToCsvTest.csv', index=False)

In [ ]:
df = pd.read_csv('dataFrameToCsvTest.csv')
print(df)
df.to_excel('dataFrameToExcelTest.xlsx', index=False)

    Nombre  Edad  Ocupación
0    Pedro    37  Jardinero
1     Juan    23   Mecánico
2     Jose    43    Policia
3  Mariano    56   Profesor

In [ ]:
print("Valor en ('2', d'Nombre'):", df.loc[2, 'Nombre'])
print("\nPrimera fila (índice 0):\n", df.iloc[0, [1,2]])
print("\nÚltima fila (índice -1):\n", df.iloc[-1])

Valor en ('2', 'Nombre'): Jose

Primera fila (índice 0):
 Edad                37
Ocupación    Jardinero
Name: 0, dtype: object

Última fila (índice -1):
 Nombre        Mariano
Edad               56
Ocupación    Profesor
Name: 3, dtype: object

In [65]:
datosNumeros = {'Puntuacion' : range(1, 11) }
dfNumberos = pd.DataFrame(datosNumeros)
print(dfNumberos[dfNumberos['Puntuacion'] > 7])

np.random.seed(0)  # para reproducibilidad
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 5)))

print("\n",df.iloc[0:1, -3:-1])

   Puntuacion
7           8
8           9
9          10

     2   3
0  65  68

In [66]:
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 5)),
                  columns=['V', 'W', 'X', 'Y', 'Z'],
                  index=['A', 'B', 'C', 'D', 'E'])

print(df.loc[['A', 'C'], ['W', 'Y']])

    W   Y
A  21  70
C  20  15

In [84]:
df = pd.DataFrame(np.random.randint(1, 100, size=(20, 3)),
                  columns=['Nombre', 'precio', 'stock'])
print (df[(df['stock']>10) & (df['precio']<50)])

    Nombre  precio  stock
2       93      37     26
3       33      43     15
4       87      29     21
6       84       8     73
8        1       9     80
10       5      40     93
11      46      27     75
13      52      19     35
14      52      31     54
15      59      44     56
16      19      46     88
19      81      27     36

In [ ]:
datos_empleados = {
    'Nombre': ['Ana', 'Luis', 'Marta', 'Javier', 'Sofía', 'Carlos'],
    'Edad': [28, 34, 29, 42, 31, 45],
    'Ciudad': ['Valencia', 'Madrid', 'Barcelona', 'Madrid', 'Sevilla', 'Valencia'],
    'Departamento': ['Marketing', 'Ventas', 'IT', 'Ventas', 'Marketing', 'IT']
}

dfEmpleados = pd.DataFrame(datos_empleados)
# dfEmpleados = (dfEmpleados[(dfEmpleados['Edad'] > 30) & ((dfEmpleados['Departamento'] == 'Ventas') | (dfEmpleados['Departamento'] == 'Marketing'))])
# dfEmpleados[['Nombre', 'Ciudad']].to_csv('dfEmpleados.csv', index=False)

# print (dfEmpleados[['Nombre', 'Ciudad']])

#dept_ok = ['Ventas', 'Marketing']
#df_filtrado = dfEmpleados[(dfEmpleados['Edad'] > 30) &
#                          (dfEmpleados['Departamento'].isin(dept_ok))][['Nombre','Ciudad']]

#print (df_filtrado)

dept_ok = ['Ventas', 'Marketing']
# Si usas listas en @var, convierte a tuple o usa una expresión string:
df_filtrado = dfEmpleados.query("Edad > 30 and Departamento in @dept_ok")[['Nombre','Ciudad']]

df_filtrado.to_csv('dfEmpleados.csv', index=False)
print(df_filtrado)

   Nombre   Ciudad
1    Luis   Madrid
3  Javier   Madrid
4   Sofía  Sevilla